// nav {
//     height: 70px;
// }

// .navbar {
//     position: fixed;
//     right: 0;
//     left: 0;
//     top: 0;
//     // background-color: rgba(0, 0, 0, 0.3);
//     border-radius:0px;
// }
// .container-fluid {
//     padding-right: 15px;
//     padding-left: 15px;
//     margin-right: auto;
//     margin-left: auto;
// }


.navbar-header {
    
    a {
        font-weight: 800;
        font-size: 25px;
        // color: $nav_a_normal;
        

        // position: relative;
        // display: block;
        // padding: 20px;
        // line-height: 30px;
    }

    .navbar-brand{
        // color: $nav_a_normal;
    }
}

.navbar-custom{
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    .navbar-nav{
        >li{
            padding: 0, 30px;
            >a{
                line-height: 30px;
                font-size: 15px;
                &:hover,
                &:focus {
                    color: $a_hover;
                }
            }
        }   
    }
}


@media only screen and (min-width: 768px) {
    .navbar-header {
        a {
            font-weight: 800;
            font-size: 25px;
            position: relative;
            display: block;
            padding: 20px;
            line-height: 30px;
        }

        .navbar-brand{
            color: $nav_a_normal;
        }
    }
    .navbar-custom {
        background: transparent;
        border-bottom: 1px solid transparent;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        &.is-fixed {
            position: fixed;
            top: -71px;
            // background-color: rgba(67, 147, 206, 0.7);
            background-color: rgba(25, 28, 33, 0.9);
            border-bottom: 1px solid transparent;
            -webkit-transition: -webkit-transform 0.3s;
            -moz-transition: -moz-transform 0.3s;
            transition: transform 0.3s;
            .navbar-header a,
            .navbar-nav li a {
                color: white;
                &:hover,
                & :focus {
                    color: $a_hover;
                }
            }
        }
        &.is-visible {
            -webkit-transform: translate3d(0, 100%, 0);
            -moz-transform: translate3d(0, 100%, 0);
            -ms-transform: translate3d(0, 100%, 0);
            -o-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }
        .navbar-nav {
            // float: right;
            // width: auto;
            margin: 20px, 0;
            -webkit-margin-before: 20px;
            -webkit-margin-after: 20px;
            >li {
                display: inline;
                >a {
                    color: white;
                    position: relative;
                    padding: 0px 20px;
                    line-height: 30px;
                    font-size: 18px;
                    &:hover,
                    &:focus {
                        color: $a_hover;
                    }
                }
            }
        }
    }
}
