---
layout: default
---

<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{site.header-img}}{% endif %} ')">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ page.title }}</h1>
                    <ul>
                        {% for tag in page.tags %}
                        <li class="post-tag">{{ tag }}</li>
                        {% endfor %}
                    </ul>
                    <!--{% for tag in page.tags %}
                    <div class="post-tag">{{ tag }}</div>
                    
                    {% endfor %}-->
                </div>
            </div>
        </div>
    </div>    
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {{ content }}

                <!-- 多说评论框 start -->
                <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{site.url}}{{ page.url }}"></div>
                <!-- 多说评论框 end -->
            </div>
            <a id="goTop" href="#">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
                </span>                
            </a>

        </div>
    </div>
</article>
                
<hr>


<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"zhaishouwei"};
(function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
<!-- 多说公共JS代码 end -->
